<!-- Card del paciente -->
<div class="mx-3 mb-3 bg-white shadow-md px-5 py-10 rounded-xl ">

  <!--  Nombre de la Mascota    -->
  <p class="font-bold uppercase mb-3 text-gray-700">
    Nombre:
    <span class="font-normal normal-case">Hook</span>
  </p>

  <!--  Nombre del Propietario    -->
  <p class="font-bold uppercase mb-3 text-gray-700">
    Propietario:
    <span class="font-normal normal-case">Alonso</span>
  </p>

  <!--  Email de contacto    -->
  <p class="font-bold uppercase mb-3 text-gray-700">
    Email:
    <span class="font-normal normal-case">correo@correo.com</span>
  </p>

  <!--  Fecha de alta    -->
  <p class="font-bold uppercase mb-3 text-gray-700">
    Fecha de Alta:
    <span class="font-normal normal-case">06/10/2023</span>
  </p>

  <!--  Sintomas de la mascota    -->
  <p class="font-bold uppercase mb-3 text-gray-700">
    Sintomas:
    <span class="font-normal normal-case">
      Lorem ipsum dolor sit amet.
    </span>
  </p>

  <div class="flex justify-between mt-4">
    <button
      type="button"
      class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold uppercase py-2 px-10 rounded transition-all"
    >editar</button>

    <button
      type="button"
      class="bg-red-600 hover:bg-red-700 text-white font-bold uppercase py-2 px-10 rounded transition-all"
    >Eliminar</button>
  </div>
</div>
